.main-02 {

    &__container {
    }

    &__body {
        margin-bottom: 100px;
    }

    &__wrapper {
        display: flex;
    }
        
    &__image {
        width: 793.05px;
        height: 397px;
        background: url(/img/about-image.png);
        margin-top: 40px;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__content-text {
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        max-width: 387px;
        margin-left: 20px;
        margin-top: 40px;
        margin-bottom: 45px;
    }

    &__content-arrow-wrapper {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        border: 2px solid $text;
        margin-left: 247px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;   
    }

    &__content-arrow {
        width: 56px;
        height: 55px;
        @include background;
        background: url(/img/prof-arrow.png);
        transform: rotate(135deg);
    }

    &__block {
        border-top: 2px solid $text;
        display: flex;
        padding-top: 20px;
        margin-top: 100px;
    }

    &__heading {
        font-weight: 700;
        font-size: 54px;
        line-height: 100%;
        text-transform: uppercase;
        max-width: 665px;
        margin-right: 145px;
        span {
            color: $primary-color;
            font-family: 'Playfair Display';
            font-style: italic;
            font-weight: 500px;
        }
    }

    &__text {
        max-width: 387px;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: $text-secondary;
        margin-top: 45px;
    }
}

// PLATFORM
.platform {

    &__container {
    }

    &__body {
        margin-top: 150px;
        margin-bottom: 100px;
    }

    &__block {
        display: flex;
        position: relative;
        border-top: 2px solid $text;
        margin-bottom: 101px;
    }

    &__heading {
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        text-transform: uppercase;
        max-width: 315px;
        margin-right: 298px;
        margin-top: 20px;
        span {
            font-family: 'Playfair Display';
            font-style: italic;
            font-weight: 500;
            color: $primary-color;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: $text-secondary;
        max-width: 407px;
        margin-top: 20px;
    }

    &__num {
        position: absolute;
        right: 0;
        top: 20px;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.5px;
    }

    &__decore {
        width: 1200px;
        height: 60px;
        @include background;
        background: url(/img/platform-decore.png);
        position: relative;
        bottom: -21px;
    }

    &__video {
        position: relative;
        z-index: 1;
        margin-bottom: 80px;
    }
}

// OFFER
.offer {

    &__container {
    }

    &__body {
        margin-top: 100px;
    }

    &__block {
        display: flex;
        position: relative;
        border-top: 2px solid $text;
        margin-bottom: 80px;
    }

    &__heading {
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        margin-top: 20px;
        text-transform: uppercase;
        max-width: 1177px;
        span {
            font-family: 'Playfair Display';
            font-style: italic;
            font-weight: 500;
            color: $primary-color;
        }
    }

    &__num {
        margin-top: 20px;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.5px;
    }
}


// EXPERT
.expert {

    &__container {
    }

    &__body {
        margin-top: 100px;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        border-top: 2px solid $text;
        position: relative;
        margin-bottom: 100px;
    }

    &__heading {
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        margin-top: 20px;
        text-transform: uppercase;
        max-width: 641px;
        span {
            font-family: 'Playfair Display';
            font-style: italic;
            font-weight: 500;
            color: $primary-color;
        }
    }

    &__num {
        position: absolute;
        top: 20px;
        right: 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.5px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        margin-bottom: 150px;
    }

    &__item-wrapper {
        display: flex;
        &:nth-child(1) {
            margin-bottom: 100px;
            .expert__item:nth-child(2) {
                .expert__item-image {
                    background: url(/img/expert-image-02.png);
                }
            }
        }
        &:nth-child(2) {
            .expert__item:nth-child(1) {
                .expert__item-image {
                    background: url(/img/expert-image-03.png);
                }
            }
            .expert__item:nth-child(2) {
                .expert__item-image {
                    background: url(/img/expert-image-04.png);
                }
            }
        }
    }

    &__item {
        margin-right: 203px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__item-image {
        width: 183px;
        height: 183px;
        @include background;
        background: url(/img/expert-image-01.png);
        margin-bottom: 20px;
    }

    &__item-heading {
        font-weight: 500;
        font-size: 34px;
        line-height: 46px;
        max-width: 370px;
        margin-bottom: 20px;
    }

    &__item-text {
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        max-width: 407px;
    }
}

// COLLEGUE
.colleague {

    &__container {
        overflow: visible;
    }

    &__body {
    }

    &__block {
        display: flex;
        border-top: 2px solid $text;
        position: relative;
        margin-bottom: 105px;
    }

    &__heading {
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        margin-top: 20px;
        text-transform: uppercase;
        max-width: 293px;
        margin-right: 317px;
        span {
            font-family: 'Playfair Display';
            font-style: italic;
            font-weight: 500;
            color: $primary-color;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: $text-secondary;
        max-width: 407px;
        margin-top: 20px;
    }

    &__num {
        position: absolute;
        right: 0;
        top: 20px;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.5px;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__item-wrapper {
        display: flex;
        &:nth-child(1) {
            margin-bottom: 20px;
            .colleague__item:nth-child(2) {
                background: url(/img/colleague-02.jpg);
            }
            .colleague__item:nth-child(3) {
                background: url(/img/colleague-03.jpg);
            }
            .colleague__item:nth-child(4) {
                background: url(/img/colleague-04.jpg);
            }
            .colleague__item:nth-child(5) {
                background: url(/img/colleague-05.jpg);
            }
            .colleague__item-arrow {
                margin-right: 20px;
            }
        }
        &:nth-child(2) {
            margin-bottom: 100px;
            .colleague__item:nth-child(2) {
                background: url(/img/colleague-06.jpg);
            }
            .colleague__item:nth-child(3) {
                background: url(/img/colleague-07.jpg);
            }
            .colleague__item:nth-child(4) {
                background: url(/img/colleague-08.jpg);
            }
            .colleague__item:nth-child(5) {
                background: url(/img/colleague-09.jpg);
            }
            .colleague__item:nth-child(6) {
                background: url(/img/colleague-10.jpg);
            }
            .colleague__item-arrow {
                margin-right: 20px;
                transform: rotate(180deg);
            }
        }
    }

    &__item {
        width: 183px;
        height: 183px;
        @include background;
        background: url(/img/colleague-01.jpg);
        margin-right: 20px;
        cursor: pointer;
        transition: .5s ease;
        &:hover {
            transform: scale(1.05) translateX(10px) translateY(-10px);
        }
    }

    &__item-arrow {
        width: 183px;
        height: 183px;
        border: 2px solid $text;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__arrow {
        height: 61px;
        width: 61px;
        @include background;
        background: url(/img/prof-arrow.jpg);
        background-repeat: no-repeat;
    }
}

// NEXT
.next {

    &__container {
    }

    &__body {
        margin-top: 250px;
        margin-bottom: 200px;
    }

    &__content {
        border-top: 2px solid $text;
        border-bottom: 2px solid $text;
        display: flex;
        position: relative;
    }

    &__heading {
        font-weight: 700;
        font-size: 54px;
        line-height: 100%;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 66px;
        margin-right: 312px;
        transition: .3s ease;
        &:hover {
            color: $primary-color;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: $text-secondary;
        margin-top: 20px;
    }

    &__arrow-wrapper {
        position: absolute;
        right: 0;
        top: 20px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid $text;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &__arrow {
        height: 38px;
        width: 40px;
        @include background;
        background: url(/img/prof-arrow.png);
        background-size: cover;
        transform: rotate(45deg);
    }
}
